/* Cap1.css */
.box-semi-trasparente {
    /* Stili esistenti per il box... */
  }
  
  .titolo-capitolo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .testo-introduttivo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .box-immagini {
    display: flex;
    justify-content: space-around; /* Distribuisci le immagini uniformemente */
    margin-bottom: 20px;
  }
  
  .box-immagini img {
    width: auto; /* O una larghezza fissa, ad esempio 200px */
    max-height: 200px; /* Adatta l'altezza massima in base alle tue esigenze */
  }
  
  .commenti-contestazioni {
    text-align: center;
  }
  