/* Stili globali, inclusi gli stili per lo sfondo della scena 3D */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.App {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 2; /* Più alto dello sfondo per assicurarsi che il contenuto sia sopra */
}

.full-screen-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* App.css */
.text-section {
  
  padding: 20px;
  background-color: #f5f5f5; /* Scegli un colore di sfondo se necessario */
  text-align: center; /* Centra il testo se desiderato */
  margin: 20px 0; /* Aggiunge spazio sopra e sotto la sezione di testo */
  z-index: 3;

}

.scene-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1; /* Sfondo, quindi uno z-index basso */
}

.contenuto-testuale {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: white;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.carousel-section {
  min-height: 70vh;
  width: 100vw;
  position: relative;
  top: 800px;
  bottom: 200px;
  z-index: 2;
  background-color: transparent;
  margin-top:-30vh;
}


@media (max-width: 768px) {
  /* App.css */
  .carousel-container {
    overflow-x: hidden;
    min-width: 100vw;
    display: flex;
    max-height: 50vh; /* Altezza relativa per adattarsi meglio a schermi di diverse dimensioni */
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background-color: transparent;
    z-index: 3;
    margin-top: 0; /* Rimuovi il margine superiore su dispositivi mobili */
  }

  .carosello-immagine-wrapper {
    height: 60%;
    overflow: hidden;
  }

  .carosello-immagine {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

/* Media query per adattare le dimensioni delle immagini su schermi più grandi */
@media (min-width: 768px) {
  .carosello-immagine {
    width: 250px;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .carosello-immagine {
    width: 300px;
  }
}

/* Opzionale: Media query per schermi più piccoli */
@media (max-width: 480px) {
  .carosello-immagine {
    width: 150px; /* Riduci ulteriormente la larghezza delle immagini su schermi molto piccoli */
  }
}




.qr-code-container {
  position: flex;
  bottom: 10%;
  left: 0%;
  margin-bottom: 20px;
  margin-top: 500px; /* Aggiunge spazio sotto al carosello */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: transparent;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 100; }
}

.qr-code-animate {
  animation: fadeIn 2s ease-out forwards;
}

.qr-code-image {
  max-width: 50%;
  height: auto;
}


.box-semi-trasparente {
  font-weight: bold; /* Rende il testo grassetto */
  color: rgb(255, 255, 255); /* Colore del testo bianco */
  
  /* La proprietà text-shadow è dichiarata due volte. È meglio unificarla o scegliere una delle due. */
  /* Per un effetto di ombra morbida: */
  /* text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); */
  /* Per un effetto di contorno del testo: */
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     0.5px  0.5px 0 #000;

  /* La proprietà background-color è dichiarata due volte con valori diversi. */
  /* Scegli uno sfondo. Se vuoi un rosso semi-trasparente, usa questo: */
  background-color: rgba(128, 0, 128, 0.5);  /* Se vuoi bianco semi-trasparente, rimuovi la riga sopra e usa solo bianco. */
  
  /* La proprietà padding è dichiarata due volte. Scegli un valore di padding e rimuovi l'altro. */
  padding: 20px; /* Aggiunge spazio intorno al testo */
  
  border-radius: 10px; /* Bordo arrotondato */
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  
  width: 80%;
  max-height: 90vh; /* Impedisce al box di superare l'altezza della viewport */
  overflow-y: auto; /* Rende il contenuto scorrevole se supera l'altezza del box */
  
  box-shadow: 0 4px 8px rgba(19, 255, 11, 0.279); /* Ombra esterna per effetto elevato */
}

/* App.css */
.affermazione-contestazione {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.affermazione, .contestazione {
  flex: 1;
}

.affermazione {
  margin-right: 10px;
}

.contestazione {
  margin-left: 10px;
}

.contestazione img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}